h1{
    margin-bottom: 30px;
    text-align: center;
}

/* p{
    margin-bottom: 50px !important;
} */

.img-test{
   margin-top: 50px !important;
}

#btn-rating{
    background: url('http://imgur.com/I0EwG.png') transparent;
    height: 48px;
    width: 45px;
    border: none;
}